@keyframes animation_entrer {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes apparition {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0.7;
  }

  100% {
    opacity: 1;
  }
}

header {
  animation: 1s ease-out 0s 1 animation_entrer;
  -moz-animation: 1s ease-out 0s 1 animation_entrer;
  -o-animation: 1s ease-out 0s 1 animation_entrer;
  -webkit-animation: 1s ease-out 0s 1 animation_entrer;
}

html {
  animation: 4s ease-in apparition;
  -moz-animation: 4s ease-in apparition;
  -o-animation: 4s ease-in apparition;
  -webkit-animation: 4s ease-in apparition;
}