@charset "utf-8"

* {
    display: none;
    padding: 0px;
    margin: 0px;
}

body {
    background-color: #3b2f2f;
    background-size: cover;
    padding: 0px;
    margin: 0px;
}

footer {
    display: flex;
    justify-content: center;
    padding: 20px;
    background-color: #233d57;
    color: #fff;
}

/* image en haut du header */
.bannière {
    display: block;
    height: 173px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    color: white;
    letter-spacing: 0px;
}

/* Menu disposition */
header {
    display: flex;
    margin-bottom: 10px;
    font-size: x-large;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

nav {
    margin-left: auto;
    margin-right: auto;
}

/* Partie-Menu Dropdown */
li {
    float: left;
    list-style-type: none;
}

.bossList {
    float: left;
    list-style-type: none;

}

li a {
    display: block;
    color: white;
    background-color: rgb(47, 54, 54);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    box-sizing: border-box;

}



li a:hover {
    background-color: rgb(47, 44, 44);
}

.bossItems {
    display: none;
    position: absolute;
    background-color: #675353;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgb(255, 20, 20);
    padding: 0px 0px;
    z-index: 1;
    border-style: solid;
    font-size: small;
    margin-top: 0%;
}

/* lier le déroulant */
.bossItems a {
    color: rgb(0, 0, 0);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border-style: solid;
}

.bossItems a:hover {
    background-color: rgb(126, 189, 24);
    opacity: 0.65;
}

.bossList:hover .bossItems {
    display: block;
    position: absolute;
    /* transform: translateX(-50%); */
}

.fullMenu {
    object-position: top;
}

/* Fin menu */
/* Personnage Blaidd : */

.introblaidd {
    display: flex;
    align-items: center;
    margin: auto auto;
    flex-direction: row;
    width: 1100px;
    background-color: rgb(15, 10, 78);
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0px 0px 30px rgb(93, 10, 135);
    margin-bottom: 40px;
}

.blaidd {
    display: flex;
    width: 400px;
    margin: auto auto auto auto;

    border-radius: 10%;
    flex-flow: row;
    box-shadow: 0px 0px 30px #FBF1BC;
}

figcaption {
    color: chartreuse;
    font-size: x-large;
    text-decoration: double;
    text-align: center;
}



.centre {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    border: thick double #32a1ce;
    border-radius: 5%;
    margin-left: 2%;
    height: 485px;
    color: chartreuse;
    padding: 5%;
}

table,
td {
    border: 1px solid #32a1ce;
    border-collapse: separate;
    border-spacing: 5px 5px;
}

.quêteblaidd{
    width: 100%;
    background-color: cadetblue;
}
h6{
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: wavy;
    font-size: x-large;
    display: block;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: x-large;
    font-style: italic;
    text-decoration: underline;
}

.positionimage{
display: flex;
flex-flow: row wrap;
align-items: center;
margin: auto auto;
justify-content: center;
border-radius: 10%;
margin-bottom: 3%;
opacity: 0.9    ;
}

.fanart {
    width: 500px;
    height: 325px;
    margin: 35px;
    box-shadow: 0px 0px 25px #200fb6;
    transition: 1.0s all ease-in-out;
}

.fanart:hover {
    -ms-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
}

.redimension{
    height: 400px;
    width: 500px;
}

.textblaidd{
    display: block;
    font-family: 'Tahoma',Arial, Helvetica, sans-serif;
    font-style: italic;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px  ;
}

.formatvideo {
    margin-bottom: 20px;
    border: 1rem solid;
}